{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock %}

{% block body %}
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quae fugiat quasi placeat, molestiae reprehenderit ducimus commodi, illo vel vero deserunt? Architecto, voluptas nobis. Mollitia voluptas ipsum libero explicabo dolorem!
</p>
<a href="{{ url_for('more') }}"> more here</a>
{% endblock %}