body
{
  background-color: #f4f4f4;
  color: #555555;
  /*
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  */


  /* this is the same as above!(I miss //)*/
  font: normal 12px Arial, Helvetica, sans-serif;

}
